@tailwind base;    
@tailwind components;    
@tailwind utilities;    
    
:root {    
  --foreground-rgb: 255, 255, 255;    
  --background-start-rgb: 34, 49, 63;    
  --background-end-rgb: 44, 62, 80;    
}  
  
html, body {    
  min-height: 100vh;    
}   
  
html {    
  background: rgb(var(--background-start-rgb));    
}    
    
body {    
  color: rgb(var(--foreground-rgb));    
  background: linear-gradient(    
      to bottom,    
      rgb(var(--background-start-rgb)),    
      rgb(var(--background-end-rgb))    
    );    
}     
  
.text-balance {    
  text-wrap: balance;    
}    
